body {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 30px;
  padding: 20px;
}

h1, section, figure {
  text-align: center;
}

button {
  color: #fff;
  background-color: #77B3FB;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
}

button:hover {
  background-color: #D2D2D2;
}

.tooltip {
  position: absolute;
  font-family: sans-serif;
  font-size: 12px;
  color: white;
  background-color: black;
  opacity: 0.8;
  transition-delay: 0.1s;
  width: 100px;
  pointer-events: none;
}

.trade-tooltip {
  height: 60px;
}

.price-tooltip {
  height: 30px;
}

.open-circle,
.close-circle {
  fill: black;
  border: 100px solid black;
}

.btn {
  fill: #ddd;
  stroke: black;
  font-size: 12px;
  font-family: sans-serif;
  cursor: pointer;
}
